:root {
    /* config color css  */
    --link_a_color: #1779ba;
    --color: #282828;
    /* end config color css  */
    --primary_color: #243c72;
    --dark_blue: #021b51;
    --yellow: #ffc057;

    --container_width: 100%;
    --container_padding: 15px;
    --container_left_space: calc((100% - var(--container_width)) / 2);
}

@media (min-width: 768px) and (max-width: 991px) {
    :root {
        --container_width: 760px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    :root {
        --container_width: 1000px;
    }
}

@media (min-width: 1200px) {
    :root {
        --container_width: 1190px;
    }
}

@media (min-width: 1400px) {
    :root {
        --container_width: 1190px;
    }
}

:root {
    --space-unit: 1em;
    --space-xxxxs: calc(0.125 * var(--space-unit));
    --space-xxxs: calc(0.25 * var(--space-unit));
    --space-xxs: calc(0.375 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));
    --space-xxxl: calc(8.5 * var(--space-unit));
    --space-xxxxl: calc(13.75 * var(--space-unit));
    --component-padding: var(--space-md);
}

:root {
    --max-width-xxs: 32rem;
    --max-width-xs: 38rem;
    --max-width-sm: 48rem;
    --max-width-md: 64rem;
    --max-width-lg: 80rem;
    --max-width-xl: 90rem;
    --max-width-xxl: 120rem;
}

:root {
    --radius-sm: calc(var(--radius, 0.25em) / 2);
    --radius-md: var(--radius, 0.25em);
    --radius-lg: calc(var(--radius, 0.25em) * 2);
    --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.085), 0 1px 8px rgba(0, 0, 0, 0.1);
    --shadow-md: 0 1px 8px rgba(0, 0, 0, 0.1), 0 8px 24px rgba(0, 0, 0, 0.15);
    --shadow-lg: 0 1px 8px rgba(0, 0, 0, 0.1), 0 16px 48px rgba(0, 0, 0, 0.1),
        0 24px 60px rgba(0, 0, 0, 0.1);
    --bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    --ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
    --ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
}

:root {
    --body-line-height: 1.4;
    --heading-line-height: 1.2;
}

:root {
    --icon-xxs: 12px;
    --icon-xs: 16px;
    --icon-sm: 24px;
    --icon-md: 32px;
    --icon-lg: 48px;
    --icon-xl: 64px;
    --icon-xxl: 128px;
}

.icon {
    display: inline-block;
    color: inherit;
    fill: currentColor;
    height: 1em;
    width: 1em;
    line-height: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.icon--sm {
    font-size: 24px;
    font-size: var(--icon-sm);
}

@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

:root {
    --zindex-header: 2;
    --zindex-popover: 5;
    --zindex-fixed-element: 10;
    --zindex-overlay: 15;
}

:root {
    --display: block;
}

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

:root {
    --radius: 0.25em;
}

:root {
    --btn-font-size: 1em;
    --btn-font-size-sm: calc(var(--btn-font-size) - 0.2em);
    --btn-font-size-md: calc(var(--btn-font-size) + 0.2em);
    --btn-font-size-lg: calc(var(--btn-font-size) + 0.4em);
    --btn-radius: 0.25em;
    --btn-padding-x: var(--space-sm);
    --btn-padding-y: var(--space-xs);
}

:root {
    --form-control-padding-x: var(--space-sm);
    --form-control-padding-y: var(--space-xs);
    --form-control-radius: 0.25em;
}

:root {
    --cd-color-1: hsl(210, 31%, 24%);
    --cd-color-1-h: 210;
    --cd-color-1-s: 31%;
    --cd-color-1-l: 24%;
    --cd-color-2: hsl(204, 73%, 52%);
    --cd-color-2-h: 204;
    --cd-color-2-s: 73%;
    --cd-color-2-l: 52%;
    --cd-color-3: hsl(0, 0%, 100%);
    --cd-color-3-h: 0;
    --cd-color-3-s: 0%;
    --cd-color-3-l: 100%;
    --cd-color-4: hsl(192, 15%, 94%);
    --cd-color-4-h: 192;
    --cd-color-4-s: 15%;
    --cd-color-4-l: 94%;
    --cd-color-5: hsl(7, 80%, 56%);
    --cd-color-5-h: 7;
    --cd-color-5-s: 80%;
    --cd-color-5-l: 56%;
    --font-primary: "Source Sans Pro", sans-serif;
}

.cd-cart::before {
    content: "";
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0.4s;
}

.cd-cart--open::before {
    opacity: 1;
    visibility: visible;
}

.cd-cart__trigger,
.cd-cart__content {
    position: fixed;
    bottom: 20px;
    right: 5%;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.cd-cart__count {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 28px;
    width: 28px;
    background: hsl(7, 80%, 56%);
    background: var(--cd-color-5);
    color: hsl(0, 0%, 100%);
    color: var(--cd-color-3);
    font-size: 0.83333em;
    font-size: var(--text-sm);
    font-weight: bold;
    border-radius: 50%;
    text-indent: 0;
    transition: -webkit-transform 0.2s 0.5s;
    transition: transform 0.2s 0.5s;
    transition: transform 0.2s 0.5s, -webkit-transform 0.2s 0.5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-cart__count li {
    position: absolute;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
}

.cd-cart__count li:last-of-type {
    visibility: hidden;
}

.cd-cart--open .cd-cart__count {
    transition: -webkit-transform 0.2s 0s;
    transition: transform 0.2s 0s;
    transition: transform 0.2s 0s, -webkit-transform 0.2s 0s;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.cd-cart__content {
    z-index: 2;
    width: 90%;
    max-width: 440px;
    height: 400px;
    max-height: 90%;
    pointer-events: none;
}

.cd-cart__layout {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    overflow: hidden;
    height: 72px;
    width: 72px;
    border-radius: 0.25em;
    border-radius: var(--radius);
    transition: height 0.4s 0.1s, width 0.4s 0.1s, box-shadow 0.3s;
    transition-timing-function: cubic-bezier(0.67, 0.17, 0.32, 0.95);
    background: hsl(0, 0%, 100%);
    background: var(--cd-color-3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.17);
    pointer-events: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

.cd-cart--open .cd-cart__layout {
    height: 100%;
    width: 100%;
    transition-delay: 0s;
}

.cd-cart__header,
.cd-cart__body {
    opacity: 0;
    padding-left: 0.825em;
    padding-left: calc(var(--space-sm) * 1.1);
    padding-right: 0.825em;
    padding-right: calc(var(--space-sm) * 1.1);
}

.cd-cart--open .cd-cart__header,
.cd-cart--open .cd-cart__body {
    opacity: 1;
}

.cd-cart__header {
    position: relative;
    z-index: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0.25em 0.25em 0 0;
    border-radius: var(--radius) var(--radius) 0 0;
    height: 40px;
    line-height: 40px;
    background-color: hsl(0, 0%, 100%);
    background-color: var(--cd-color-3);
    transition: opacity 0.2s 0s;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    border-bottom: 1px solid
        hsl(
            var(--cd-color-3-h),
            var(--cd-color-3-s),
            calc(var(--cd-color-3-l) * 0.9)
        );
}

.cd-cart__header h2 {
    text-transform: uppercase;
    display: inline-block;
    font-size: 0.76388em;
    font-size: calc(var(--text-xs) * 1.1);
    font-weight: 700;
    letter-spacing: 0.1em;
}

.cd-cart--open .cd-cart__header {
    transition: opacity 0.2s 0.2s;
}

.cd-cart__body {
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-top: 0.75em;
    padding-top: var(--space-sm);
    padding-bottom: 0.75em;
    padding-bottom: var(--space-sm);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    transition: opacity 0.2s;
}

.cd-cart__body ul {
    position: relative;
    padding-bottom: 60px;
}

@media (min-width: 64rem) {
    .cd-cart__body ul {
        padding-bottom: 90px;
    }
}

.cd-cart--open .cd-cart__body {
    transition: opacity 0s;
}

.cd-cart--open .cd-cart__body li {
    transition: opacity 0.3s 0.2s, -webkit-transform 0.3s 0.2s;
    transition: transform 0.3s 0.2s, opacity 0.3s 0.2s;
    transition: transform 0.3s 0.2s, opacity 0.3s 0.2s,
        -webkit-transform 0.3s 0.2s;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.cd-cart--open .cd-cart__body li:nth-of-type(2) {
    transition-duration: 0.4s;
}

.cd-cart--open .cd-cart__body li:nth-of-type(3) {
    transition-duration: 0.5s;
}

.cd-cart--open .cd-cart__body li:nth-of-type(4),
.cd-cart--open .cd-cart__body li:nth-of-type(5) {
    transition-duration: 0.55s;
}

.cd-cart__product {
    position: relative;
    opacity: 0;
    -webkit-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px);
    transition: opacity 0s 0.2s, -webkit-transform 0s 0.2s;
    transition: opacity 0s 0.2s, transform 0s 0.2s;
    transition: opacity 0s 0.2s, transform 0s 0.2s, -webkit-transform 0s 0.2s;
    display: -ms-flexbox;
    display: flex;
}

.cd-cart__product:not(:last-of-type) {
    margin-bottom: 12px;
}

.cd-cart__product a {
    text-decoration: none;
}

.cd-cart__image {
    display: inline-block;
    width: 50px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.cd-cart__image img {
    display: block;
}

@media (min-width: 64rem) {
    .cd-cart__image {
        width: 90px;
    }
}

.cd-cart__details {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-top: 0.825em;
    padding-top: calc(var(--space-sm) * 1.1);
    padding-left: 0.6em;
    padding-left: calc(var(--space-xs) * 1.2);
}

.cd-cart__details h3 {
    font-weight: bold;
    width: 70%;
    font-size: 0.95833em;
    font-size: calc(var(--text-sm) * 1.15);
}

.cd-cart__details h3 a {
    color: hsl(210, 31%, 24%);
    color: var(--cd-color-1);
}

.cd-cart__details h3 a:hover {
    color: hsl(204, 73%, 52%);
    color: var(--cd-color-2);
}

.cd-cart__price {
    width: 30%;
    text-align: right;
    font-size: 0.91666em;
    font-size: calc(var(--text-sm) * 1.1);
    font-weight: bold;
}

.cd-cart__actions {
    display: -ms-flexbox;
    display: flex;
    font-size: 0.76388em;
    font-size: calc(var(--text-xs) * 1.1);
}

.cd-cart__footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 0.25em 0.25em;
    border-radius: 0 0 var(--radius) var(--radius);
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.15);
    background: hsl(0, 0%, 100%);
    background: var(--cd-color-3);
}

.cd-cart__checkout {
    display: block;
    height: 72px;
    line-height: 72px;
    margin-right: 72px;
    background: hsl(204, 73%, 52%);
    background: var(--cd-color-2);
    color: hsla(0, 0%, 100%, 0);
    color: hsla(
        var(--cd-color-3-h),
        var(--cd-color-3-s),
        var(--cd-color-3-l),
        0
    );
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 1.2em;
    font-size: var(--text-md);
    font-weight: 600;
    transition: all 0.2s 0s;
}

.cd-cart__checkout:hover {
    background: hsl(204, 73%, 56.16%);
    background: hsl(
        var(--cd-color-2-h),
        var(--cd-color-2-s),
        calc(var(--cd-color-2-l) * 1.08)
    );
}

.cd-cart__checkout em {
    position: relative;
    display: inline-block;
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
    transition: -webkit-transform 0s 0.2s;
    transition: transform 0s 0.2s;
    transition: transform 0s 0.2s, -webkit-transform 0s 0.2s;
}

.cd-cart__checkout .icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    opacity: 0;
    transition: opacity 0.2s;
    color: currentColor;
}

.cd-cart--open .cd-cart__checkout {
    color: hsl(0, 0%, 100%);
    color: var(--cd-color-3);
    transition: color 0.2s 0.3s;
}

.cd-cart--open .cd-cart__checkout em {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    transition: padding 0.2s 0s, -webkit-transform 0.2s 0.3s;
    transition: transform 0.2s 0.3s, padding 0.2s 0s;
    transition: transform 0.2s 0.3s, padding 0.2s 0s,
        -webkit-transform 0.2s 0.3s;
}

.cd-cart--open .cd-cart__checkout:hover em {
    padding-right: 30px;
}

.cd-cart--open .cd-cart__checkout:hover .icon {
    opacity: 1;
}

@-webkit-keyframes cd-qty-enter {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0);
    }

    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}

@keyframes cd-qty-enter {
    0% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(0);
        transform: translateX(-50%) translateY(0);
    }

    100% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}

@-webkit-keyframes cd-qty-leave {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(-100%);
        transform: translateX(-50%) translateY(-100%);
    }
}

@keyframes cd-qty-leave {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    100% {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: translateX(-50%) translateY(-100%);
        transform: translateX(-50%) translateY(-100%);
    }
}

@-webkit-keyframes cd-item-move-up-mobile {
    0% {
        padding-top: 62px;
    }

    100% {
        padding-top: 0px;
    }
}

@keyframes cd-item-move-up-mobile {
    0% {
        padding-top: 62px;
    }

    100% {
        padding-top: 0px;
    }
}

@-webkit-keyframes cd-item-move-up {
    0% {
        padding-top: 102px;
    }

    100% {
        padding-top: 0px;
    }
}

@keyframes cd-item-move-up {
    0% {
        padding-top: 102px;
    }

    100% {
        padding-top: 0px;
    }
}

@-webkit-keyframes cd-item-move-down-mobile {
    0% {
        padding-top: 0px;
    }

    100% {
        padding-top: 62px;
    }
}

@keyframes cd-item-move-down-mobile {
    0% {
        padding-top: 0px;
    }

    100% {
        padding-top: 62px;
    }
}

@-webkit-keyframes cd-item-move-down {
    0% {
        padding-top: 0px;
    }

    100% {
        padding-top: 102px;
    }
}

@keyframes cd-item-move-down {
    0% {
        padding-top: 0px;
    }

    100% {
        padding-top: 102px;
    }
}

@-webkit-keyframes cd-item-slide-out {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0;
    }
}

@keyframes cd-item-slide-out {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0;
    }
}

@-webkit-keyframes cd-item-slide-in {
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    0% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0;
    }
}

@keyframes cd-item-slide-in {
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }

    0% {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        opacity: 0;
    }
}

.header-country a {
    min-width: 10rem;
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.pagination li {
    display: inline-block !important;
}

/* container start */
.container {
    max-width: var(--container_width);
    width: 100%;
    padding-inline: var(--container_padding);
    margin: auto;
    box-sizing: border-box;
}

.container_left {
    margin-left: calc(var(--container_left_space));
    padding-left: var(--container_padding);
    box-sizing: border-box;
}

.container_right {
    margin-right: calc(var(--container_left_space));
    padding-right: var(--container_padding);
    box-sizing: border-box;
}

/* container end */

.d_flex {
    display: flex;
}

.dark_bg {
    background-color: var(--dark_blue);
}

.dark_bg * {
    color: #fff;
}

.header-menu {
    width: 20rem;
    background-color: #ebebeb;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 0;
    z-index: 999;
    border: none;
    position: fixed;
    border-right: 2px solid #ffffff;
}

.header-menu ul li a.link-menu {
    color: #717171;
}

.header-menu ul li {
    padding: 0 !important;
    margin: 0 !important;
}

.header-menu ul li a p {
    padding: 1rem !important;
    margin: 0 !important;
}

.header-menu ul li:hover {
    background-color: #717171;
}

.header-menu ul li:hover a.link-menu {
    color: #ebebeb;
}

header .container {
    max-width: calc(var(--container_width) + 80px);
    padding: 18px 15px;
}

.header_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
}

.header_flex .social_links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.social_links a {
    display: flex;
}

.social_links img {
    width: 24px;
}

.gap_26 {
    gap: 28px;
}

.header_flex .contact_links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.contact_icon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact_icon a {
    font-weight: 300;
    text-decoration: none;
    color: var(--primary_color);
}

nav .container {
    padding: 0 15px;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 32px;
}

nav li {
    position: relative;
}

nav li a {
    text-decoration: none;
    font-weight: 500;
    display: inline-block;
    padding: 10px 0;
    position: relative;
    transition: 0.3s;
}

nav li a:hover {
    opacity: 0.7;
}

nav li a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: var(--yellow);
}

.burger {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    opacity: 0;
    visibility: hidden;
    display: none;
}

@media (max-width: 1024px) {
    nav {
        width: 55vw !important;
    }
}

header {
    box-shadow: 0 4px 6px #0000001a;
}
.header-main {
    padding: 0;
}

.title-bar.is-stuck {
    background-color: #3498DB;
}

.burger {
    display: flex;
    background-color: transparent;
    border: none;
    padding: 0;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}

.is-stuck button .burger_line {
    background-color: #ffffff;
}

.breadcrumbs {
    margin-bottom: 0;
}

.burger_line {
    width: 32px;
    height: 3px;
    background-color: #3498DB;
    display: block;
    transition: 0.3s;
}

.burger.active .burger_line:nth-child(1) {
    transform: translateY(9px) rotate(-45deg);
}

.burger.active .burger_line:nth-child(2) {
    opacity: 0;
}

.burger.active .burger_line:nth-child(3) {
    transform: translateY(-9px) rotate(45deg);
}

nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 30vw;
    transform: translateX(-100%);
    transition: 0.3s;
    z-index: 999;
}

nav.active {
    transform: translateX(0);
}

.overlay.active {
    display: block;
    opacity: 1;
    visibility: visible;
}

nav ul {
    flex-direction: column;
    gap: 16px;
    padding: 12px 30px;
}

.contact_links,
.social_links,
.header_cta {
    display: none !important;
}
/* } */

@media (max-width: 767px) {
    .logo {
        width: 140px;
    }
}

/* button start */
.btn_one {
    display: inline-block;
    background-color: var(--primary_color);
    border: 2px solid var(--primary_color);
    color: #fff;
    padding: 8px 40px;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}

.btn_one:hover {
    background-color: #fff;
    color: var(--primary_color);
}

/* button end */

/* dropdown start */
.has_sub_menu {
    position: relative;
    padding-right: 20px;
}

.has_sub_menu::after {
    content: "";
    position: absolute;
    right: 0;
    top: 3px;
    bottom: 0;
    margin: auto;
    background-image: url(https://sudip-bhowmick.github.io/images/img/dropdown.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
}

.sub_menu {
    display: none;
    background-color: var(--dark_blue);
    position: absolute;
    left: 0;
    top: 42px;
    flex-direction: column;
    gap: 0;
    padding: 8px 20px;
    white-space: nowrap;
    border-radius: 0px 0px 8px 8px;
}

.sub_menu.show {
    display: flex;
}

@media (max-width: 1024px) {
    .sub_menu {
        position: relative;
        top: 0;
    }
}

.item {
    position: relative;
    overflow: hidden;
}

body {
    background-color: #eff1f5;
}

.header {
    padding: 0;
}

.grid-container {
    background-color: #fff;
}

.header .header {
    z-index: 100;
}

.title-bar-right .burger {
    cursor: pointer;
}

.footer {
    padding: 40px 0;
}

.container {
    max-width: 1170px;
    margin: auto;
}

ul {
    list-style: none;
}
.footer-col {
    padding: 10px 15px;
    color: #808080;
    border-right: 1px solid #cacaca;
}

footer .container {
    border-top: 1px solid #cacaca;
}

.footer-col h4 {
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    width: 50px;
    height: 2px;
}

.follow-us {
    border: none;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #151515;
    display: block;
    font-size: 1rem;
    font-weight: 300;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #151515;
    padding-left: 7px;
}

.footer-col .social-links a {
    color: #151515;
    background-color: rgba(0, 0, 0, 0.2);
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px 10px 0;
    line-height: 40px;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #151515;
    background-color: #ebebeb;
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}

.title-bar {
    background: #ffffff;
    border-bottom: 1px solid #cacaca;
}

.title-bar-left,
.title-bar-right {
    padding: 10px;
}

.title-bar-right ul li {
    margin: auto 10px;
    /* padding: 0; */
}

.title-bar-right ul li a {
    /* margin: auto 10px; */
    padding: 0 !important;
}

.title-bar-right ul li a img {
    height: 40px;
    width: 40px;
}

.title-bar-right .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    content: none !important;
}

.lang_dropdown {
    justify-content: flex-end;
}

.change_languages {
    position: fixed;
    padding: 0;
    border: none;
    background-color: rgb(23, 121, 186, 0.8);
    border-radius: 0.25rem;
    min-width: 100px !important;
}

.change_languages .lang {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 0.25rem !important;
}

.change_languages .lang:hover {
    background-color: rgb(23, 121, 186, 1);
}

.change_languages .lang .cell.shrink {
    padding: 0 0.25rem 0 0;
}

.change_languages .lang span {
    color: white;
}
